@model Tata.Models.tblcell
@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)  
    <div class="wrp clearfix">@*style="background-color:red" box outside create role*@
        <div class="fluid">
            <div class="widget col-md- grid12">

                <div class="widget-header" style="background-color: red">
                    <div class="widget-title">
                        <span style="font-style: oblique; font-size: 100%">Create Cell Details</span>
                    </div>
                </div>
                <!-- /widget-header -->

                <div class="widget-content pad20f">
                    <label for="input-1" class="stacked-label" style="resize: horizontal; width: 20%; color: blue; font-style: oblique">Plant Name</label>
                    @Html.DropDownList("Plant", null, "--Select Plant--", new { @id = "Plant", @class = "form-control", @name = "Plant", @required = "required", @style = "aria-expanded:false;width:89.7%", @value = ViewData["Plant"] })
                    @Html.ValidationMessageFor(model => model.PlantID)

                    <label for="input-1" class="stacked-label" style="resize: horizontal; padding-top: 2%; width: 20%; color: blue; font-style: oblique">Shop Name</label>
                    @Html.DropDownList("Shop", null, "--Select Shop--", new { @id = "Shop", @class = "form-control", @name = "Shop", @required = "required", @style = "aria-expanded:false;width:89.7%", @value = ViewData["Shop"] })
                    @Html.ValidationMessageFor(model => model.ShopID)

                    <label for="input-1" class="stacked-label" style="resize: horizontal; padding-top: 2%; width: 20%; color: blue; font-style: oblique">Cell Name</label>
                    @Html.TextBoxFor(model => model.CellName, new { @id = "CellName", @class = "form-control", @name = "CellName", style = "width:89.7%", @placeholder = "Enter Cell Name", @required = "required" })

                    <label for="input-1" class="stacked-label" style="resize: horizontal; width: 20%; color: blue; font-style: oblique">Cell Description</label>
                    @Html.TextBoxFor(model => model.CellDesc, new { @id = "CellDesc", @class = "form-control", @name = "CellDesc", style = "width:89.7%", @placeholder = "Enter Cell Description", @required = "required" })

                    <div style="width: 3%; display: inline-block; height: inherit"></div>
                    @Html.ActionLink(" Back ", "Index", new { }, new { @class = "btn stacked-input fa fa-reply fa-1x", @style = "text-decoration:none;display:inline-block;color:black" })
                    <div style="width: 20%; display: inline-block; height: inherit"></div>
                    <input type="submit" value="Create" class="btn orange btn-lg" style="width: 30%; display: inline-block; height: inherit; margin-top: 2%; background-color: orange; color: black; font-size: 95%" />

                </div>
                <!-- /widget-content -->
            </div>
        </div>
        <!-- /widget -->
    </div>
    <!-- /Class-fluid-->
    @Html.HiddenFor(Model => Model.CellID)    
}

<style>
    input {
        font-style: oblique;
        color: blue;
    }
</style>

<script>
    $(document).ready(function () {
        $("#Plant").change(function (evt) {
            $("#Shop").empty();
            var selectedID = $("#Plant option:selected").val();
            $.getJSON("/Cell/GetShop", { PlantID: selectedID }, function (data) {
                $.each(data, function (index, item) {
                    $("#Shop").append("<option value='" + item.Value + "'>" + item.Text + "</option>");
                });
            });
        });
    });
</script>
