@model IEnumerable<Tata.Models.tblplannedbreak>

@{
    ViewBag.Title = "Index";
    int slno = 1;
}
<script src="~/js/jquery-2.1.4.min.js"></script>

        <h2></h2>@* induces gap between button and container top*@
            <div style="width: 2%; display: inline-block; height: inherit"></div>
     @if (ViewBag.roleid == 1 || ViewBag.roleid ==2)
        {
            @Html.ActionLink("Create New Break", "Create", new { }, new { @class = "btn orange btn-lg ", @style = "color:black;width:20%;height:70%;backgroundcolor:red;font-size:90%" })
     }
<div class="wrp clearfix">
    <div class="fluid">
        <div class="widget grid12">
            <div class="widget-header">
                <div class="widget-title" style="font-size:125%">
                    Planned Break
                </div>
            </div>
            <!-- /widget-header -->

            <div class="widget-content pad20f">
                <div class="widget__content table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr class="text-centre" style="background-color:orange">
                            <th style="text-align:center;font-size:95%">Sl.No.</th>
                            <th style="text-align:center;font-size:95%"">Break Reason</th>
                            <th style="text-align:center;font-size:95%"">Start Time</th>
                            <th style="text-align:center;font-size:95%"">End Time</th>
                             <th style="text-align:center;font-size:95%"">Break Duration</th>
                            @*<th style="text-align:center;font-size:95%"">ShiftID</th>*@
                             @if (ViewBag.roleid == 1 || ViewBag.roleid ==2)
        {
                            <th style="text-align:center;font-size:95%"">Edit</th>
                            <th style="text-align:center;font-size:95%"">Delete</th>
                             }
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer"></tr>
                        <tr class="spacer"></tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @slno
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.BreakReason)
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.StartTime)
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.EndTime)
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.BreakDuration)
                                </td>
                                @*<td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.ShiftID)
                                </td>*@
                                 @if (ViewBag.roleid == 1 || ViewBag.roleid ==2)
                                {
                                <td style="width: auto; text-align: center; font-family: Helvetica" data-toggle="tooltip" title="Edit">
                                    @Html.ActionLink(" ", "Edit", new { id = item.BreakID }, new { @class = " blue  btn-lg fa fa-edit", @style = "color:white;text-decoration:none" })
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica" data-toggle="tooltip" title="Delete">
                                     @{var id = item.BreakID;
                                     @Html.ActionLink(" ", "Delete", new { id = item.BreakID }, new { @id = id, @class = "DeleteModel red btn-lg fa fa-trash", @style = "color:white;text-decoration:none" })
                                     }
                                </td>
                                 }
                            </tr>
                            slno = slno + 1;
                        }
                        <tr class="spacer"></tr>
                    </tbody>
                </table>
            </div>
              

            </div>
            <!-- /widget-content -->

        </div>
        <!-- /widget -->
    </div>
     <div id="dialog-confirm" title=" Delete Confirmation ?" style="height: 5%;">
        <p> 
        </p>
    </div>
</div>

<script src="/js/jquery-2.1.4.min.js"></script>

<script>
    //This model window is from https://jqueryui.com/dialog/#modal-confirmation 
    $(".DeleteModel").on("click", (function (e) {
        var MyHref = $(this).prop('href');
        e.preventDefault();
        $("#dialog-confirm").dialog({
            resizable: true,
            height: 50,
			width:400,
            modal: true,
            buttons: {
                "Delete Break": function () {
                    window.location.href = MyHref;
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });
    }));
</script>

