@model IEnumerable<Tata.Models.tblpriorityalarm>

@{
    ViewBag.Title = "Index";
    int slno = 1;
}

<script src="~/js/jquery-2.1.4.min.js"></script>

        <h2></h2>@* induces gap between button and container top*@
            <div style="width: 2%; display: inline-block; height: inherit"></div>  
 @if (ViewBag.roleid == 1 || ViewBag.roleid ==2)
        {  
           @Html.ActionLink("Create New PriorityAlarm", "Create", new { }, new { @class = "btn orange btn-lg ", @style = "color:black;width:20%;height:70%;backgroundcolor:red;font-size:90%;display:inline" })
           <div style="width: 5%; display: inline"></div>
           @Html.ActionLink("Import Data From Excel", "ImportPriorityAlarm", new { }, new { @class = "btn orange btn-lg ", @style = "color:black;width:20%;height:70%;backgroundcolor:red;font-size:90%;display:inline" })
     }
<div class="wrp clearfix">
    <div class="fluid">
        <div class="widget grid12">
            <div class="widget-header">
                <div class="widget-title" style="font-size:125%">
                    Priority Alarm
                </div>
            </div>
            <!-- /widget-header -->

            <div class="widget-content pad20f">
                <div class="widget__content table-responsive">
                    <div id="repeatedAlarms">
                        @if (Session["AlarmNumber"] != null)
                        {
                            <pre>
<span style="font-family:Calibri">@Session["AlarmNumber"]</span>
                    </pre>
                        }
                        </div>
                <table class="table">
                    <thead>
                        <tr class="text-centre" style="background-color:orange">
                            <th style="text-align:center;font-size:95%">Sl.No.</th>
                            <th style="text-align:center;font-size:95%"">AlarmNumber</th>
                            <th style="text-align:center;font-size:95%"">AlarmDesc</th>
                            <th style="text-align:center;font-size:95%"">AxisNo</th>
                            <th style="text-align:center;font-size:95%"">AlarmGroup</th>
                            <th style="text-align:center;font-size:95%"">PriorityNumber</th>
                             @if (ViewBag.roleid == 1 || ViewBag.roleid ==2)
        {
                            <th style="text-align:center;font-size:95%"">Edit</th>
                            <th style="text-align:center;font-size:95%"">Delete</th>
                             }
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="spacer"></tr>
                        <tr class="spacer"></tr>
                         @{
                                     Session["AlarmNumber"] = null;
                             }
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @slno
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.AlarmNumber)
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.AlarmDesc)
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.AxisNo)
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.AlarmGroup)
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica; font-size: 85%">
                                    @Html.DisplayFor(modelItem => item.PriorityNumber)
                                </td> @if (ViewBag.roleid == 1 || ViewBag.roleid ==2)
        {
                                <td style="width: auto; text-align: center; font-family: Helvetica" data-toggle="tooltip" title="Edit">
                                    @Html.ActionLink(" ", "Edit", new { id = item.AlarmID }, new { @class = " blue  btn-lg fa fa-edit", @style = "color:white;text-decoration:none" })
                                </td>
                                <td style="width: auto; text-align: center; font-family: Helvetica" data-toggle="tooltip" title="Delete">
                                    @Html.ActionLink(" ", "Delete", new { id = item.AlarmID }, new { @class = " red btn-lg fa fa-trash", @style = "color:white;text-decoration:none" })
                                </td>
                                }
                            </tr>
                            slno = slno + 1;
                        }
                        <tr class="spacer"></tr>
                    </tbody>
                </table>
            </div>
              

            </div>
            <!-- /widget-content -->

        </div>
        <!-- /widget -->
    </div>
</div>


<script src="~/js/jquery-2.1.4.min.js"></script>
    <script>
        setTimeout(function () {
            $('#repeatedAlarms').fadeOut('slow');
        }, 30000); // <-- time in milliseconds
    </script>
